@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&display=swap');
body{
	font-family: 'KoHo', sans-serif;
	font-size: 17px;
	margin:0 auto;
	width:960px;
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

/*Image*/
.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

/*Contact Us*/
#contact{
	font-family: 'KoHo', sans-serif;
	font-size: 17px;
	text-align: center;
}
#hello{
	font-family: 'Source Serif Pro', sans-serif;
	font-size: 17px;
	text-align: center;
}

/*Fill This Form*/
h3{
	text-decoration: underline;
}
.error{
	color: #FF0000;;
}

/*Your favorite coffee is...*/
#menu{
	margin: 0 auto 10px auto;
	text-align: center;
}
#textar{
	font-family: 'Source Serif Pro', sans-serif;
	font-size: 18px;
	margin-top: 7px;
	padding: 5px;
	text-align: center;
	height: 30px;
	background-color: rgba(230,230,255,0.2);
	color: black;
	border: none;
	text-decoration: underline;
}
#none1{
	display: none;
}

/*Personal Information*/
.names{
	display: inline-block;
	margin: 0;
	padding: 5px;
}
.pers{
	display: inline-block;
	margin: 0;
	padding: 5px;
}

/*Radio Buttons*/
#yes, #no, #lyes, #lno{
	cursor: pointer;
}
/*Checkbox*/
#sugar, #cream, #lsugar, #lcream{
	cursor: pointer;
}

/*Submit Button*/
.wrapper{
	position: relative;
	width: 100%;
	height: 50px;
}

#subbut{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top:60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 170px;
	height: 40px;
	line-height: 1;
	letter-spacing: 1px;
	border: 3px solid #8C82FC;
	background: #fff;
	color: #8C82FC;
	border-radius: 40px;
	cursor: pointer;
	overflow: hidden;
	transition: all .35s;
}

#subbut:hover{
	background: #8C82FC;
	color: #fff;
}

/*Sign - Reset buttons*/
#but{
	margin: 20px;
	text-align: center;
}
#reset, #signout{
	font-size: 18px;
	display: inline-block;
	text-decoration: none;
    border-radius: 20px;
	padding: 10px;
	margin-right: 15px;
	margin-left: 15px;
	color: white;
}
#reset{
	border: 3px solid #c71616;
	background-color: #c71616;
}
#signout{
	border: 3px solid #00bfff;
	background-color: #00bfff;
	color: white;
	width: 17%;
}
#reset:hover{
	border-color: #ff0000;
	background-color: #ff0000;
}
#signout:hover{
	border-color: #1ee8e8;
	background-color: #1ee8e8;
}

/*Footer*/
footer{
	font-family: 'Source Serif Pro', serif;
	color: black;
	text-align: center;
	background-color: #f3e7e9;
	margin: 0px;
	margin-top: 10px;
}
footer h2, footer h3{
	padding:0px;
	margin: 5px 0;
	text-align: center;
	text-decoration: none;
}
footer h3{
	display:inline-block;
}
#line{
	padding-right:4px;
	border-right: 1px solid black;
}
hr{
	border: none;
	background: black;
	height: 1px;
	margin: 15px 120px 15px;
}
footer p{
	margin: 0;
	padding-bottom: 10px;
}
footer a{
	text-decoration: none;
}
footer a:link {
  color: blue;
}
footer a:visited {
  color: blue;
}
footer a:hover {
  color: red;
}

/*Admin site*/

/*Buttons*/
.anchorButtons{
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	width: 240px;
	display: flex;
	justify-content: center;
    border-radius: 5px;
	padding: 10px;
	margin: auto; 
	margin: 20px auto;
	border: 3px solid #04AA6D;
	color: white;
	background-color: #04AA6D;
	text-decoration: none;
}
.anchorButtons:hover{
	background-color: #00cc00;
	border-color: #00cc00;
	cursor: pointer;
}
#signbut{
	display: flex;
	justify-content: center;	
}
#signout1{
	font-size: 18px;
	text-align: center;
	width: 17%;
	display: block;
    border-radius: 5px;
	border: 3px solid #00bfff;
	padding: 10px;
	margin: 0 35px 10px 35px;
	color: white;
	background-color: #00bfff;
	text-decoration: none;
}
#signout1:hover{
	background-color: #00ffff;
	border-color: #00ffff;
}